<div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">

    <h1>{{:: 'sms' | translate}}</h1>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th colspan="{{levelmax + 1 + choicesmax + 4}}" class="kc-table-actions">
                <div class="pull-right" data-ng-show="access.manageRealm">
                    <a href="#/realms/{{realm.realm}}/sms-config/add" class="btn btn-default">{{:: 'new' | translate}}</a>
                </div>
            </th>
        </tr>
        <tr data-ng-hide="configs.length == 0">
            <th>{{:: 'sms-config-type' | translate}}</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="config in configs" data-ng-show="configs.length > 0">
            <td class="kc-sorter">
                <span>{{config.alias|capitalize}}<span ng-if="config.alias">({{config.senderProviderId}})</span></span>
                &nbsp;&nbsp;<i class="fa fa-question-circle text-muted" tooltip-trigger="mouseover mouseout" tooltip="{{execution.description}}"
                               tooltip-placement="right"> </i>
            </td>
            <td>
                <label>
                    <input name="isSmsDefaultConfig" type="checkbox" ng-model="config.default" ng-value="config.default" ng-change="makeDefault(config)">
                    {{config.default ? ('sms-default-config' | translate) : ''}}
                </label>
            </td>
            <td>
                <a href="#/realms/{{realm.realm}}/sms-config/{{config.alias}}" class="btn btn-default">{{:: 'edit' | translate}}</a>
            </td>
        </tr>
        <tr data-ng-show="configs.length == 0">
            <td>{{:: 'no-sms-config-available' | translate}}</td>
        </tr>
        </tbody>
    </table>
</div>

<kc-menu></kc-menu>
