<div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">

    <ol class="breadcrumb">
        <li><a href="#/realms/{{realm.realm}}/sms-config">{{:: 'sms' | translate}}</a></li>
        <li class="active" data-ng-show="create">{{:: 'create-sms-config' | translate}}</li>
        <li class="active" data-ng-show="!create">{{config.alias}}</li>
    </ol>

    <h1 data-ng-show="create">{{:: 'create-sms-config' | translate}}</h1>
    <h1 data-ng-hide="create">
        <span data-ng-show="config.alias">{{config.alias | capitalize}}</span>
        <span data-ng-show="!config.alias">{{config.id}}</span>
        <a><i class="pficon pficon-delete clickable" data-ng-show="!create && access.manageRealm" data-ng-hide="changed"
              data-ng-click="remove()"></i></a>
    </h1>

    <form class="form-horizontal" name="realmForm" novalidate kc-read-only="!access.manageRealm">
        <fieldset>
            <div class="form-group clearfix">
                <label class="col-md-2 control-label" for="name">{{:: 'alias' | translate}}</label>
                <div class="col-md-6">
                    <input kc-no-reserved-chars kc-no-add class="form-control" id="name" type="text"
                           ng-model="config.alias" data-ng-readonly="!create">
                </div>
                <kc-tooltip>{{:: 'sms-alias-tooltip' | translate}}</kc-tooltip>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="senderProviderId">{{:: 'sender-type' | translate}}</label>
                <div class="col-md-2">
                    <div>
                        <select class="form-control" id="senderProviderId"
                                required
                                ng-change="changeSenderChange()"
                                ng-model="senderDisplayName"
                                ng-options="senderType.displayName for senderType in senderTypes">
                        </select>
                    </div>
                </div>
                <kc-tooltip>{{:: 'sms-sender-type-tooltip' | translate}}</kc-tooltip>
            </div>

            <kc-provider-config realm="realm" config="config.map"
                                properties="senderDisplayName.properties"></kc-provider-config>
        </fieldset>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2" data-ng-show="create && access.manageRealm">
                <button kc-save>{{:: 'save' | translate}}</button>
                <button kc-cancel data-ng-click="cancel()">{{:: 'cancel' | translate}}</button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2" data-ng-show="!create && access.manageRealm">
                <button kc-save data-ng-disabled="!changed">{{:: 'save' | translate}}</button>
                <button kc-reset data-ng-disabled="!changed">{{:: 'cancel' | translate}}</button>
            </div>
        </div>
    </form>
</div>

<kc-menu></kc-menu>
